:root {
    --white : #fff;
    --black: #000;
}

/* typography css */
.main_heading {
    background: var(--black); 
    color: var(--white);
    margin: 20px;
    padding: 20px;
    text-align:center;
}

.main_wrapper {
    background: var(--white);
    margin: 20px;
    padding: 20px;
}

/* live chat css */
.chat_wrap {
    background-image: url(../img/whatsapp-logo-hover.png);
    background-position: left top;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    bottom: 20px;
    right: 40px;
    width: 60px;
    height: 59px;
    overflow: hidden;
    position: fixed;
    box-shadow: 0.3em 0.3em 0.5em rgba(0,0,0,0.3);
}

.chat_wrap:hover {
    cursor: pointer;
    background-position: left bottom;
}